/* Hamburger Menu */

menu {
  details {
    max-width: 12rem;
    position: relative;
    position: fixed;
    top: 1rem;
    right: 1rem;

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      list-style: none;
      background-color: var(--secondary-background-color);
      color: var(--secondary-text-color);
      text-align: center;
      padding: 0;
      margin: 0;

      li {
        font-size: 2rem;
        margin: 1rem;
      }
    }

    &[open] summary {
      &::after {
        content: "×";
        font-size: 2em;
        z-index: 22222;
        left: 0.25rem;
        color: var(--primary-background-color);
      }
      &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  summary {
    visibility: hidden;
    list-style: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      visibility: visible;
      content: "";
    }

    &::after {
      visibility: visible;
      content: "☰";
      z-index: 11111;
      position: relative;
      left: 0.25rem;
      font-size: 2rem;
      color: var(--primary-background-color);
    }
  }
}
