:root {
  --primary-background-color: #357df9;
  --primary-text-color: #fefefe;
  --light-color: #fefefe;
  --secondary-background-color: #f9fafb;
  --secondary-text-color: #606c76;
  --wrapper-max-width: 1111px;
  --border-radius: 6px;
  --grid-gap: 1rem;
  --padding-content: 1rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.5365;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img,
iframe {
  border: 0;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}

/* Wrappers */

article {
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
}

/* Grids */

@media (min-width: 768px) {
  grids {
    display: grid;
    grid-template-columns: var(--cols, repeat(auto-fit, minmax(19rem, 1fr)));
    grid-gap: var(--grid-gap);
  }
}

/* Sections */

section {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: var(--padding-content, 1rem);
}

/* Hamburger Menu */

menu[type="hamburger"] details {
  max-width: 12rem;
  position: relative;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

menu[type="hamburger"] summary {
  visibility: hidden;
  list-style: none;
  cursor: pointer;
}

menu[type="hamburger"] summary::-webkit-details-marker {
  display: none;
}

menu[type="hamburger"] summary::before {
  visibility: visible;
  content: "";
}

menu[type="hamburger"] summary::after {
  visibility: visible;
  content: "☰";
  z-index: 11111;
  position: relative;
  left: 0.25rem;
  font-size: 2rem;
  color: var(--secondary-background-color);
  text-shadow: 0px 0px 3px #8e8d8d;
}

menu[type="hamburger"] details[open] summary::after {
  content: "×";
  font-size: 2em;
  z-index: 22222;
  left: 0.25rem;
  color: var(--primary-background-color);
}

menu[type="hamburger"] details[open] summary::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

menu[type="hamburger"] details ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  list-style: none;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  text-align: center;
  padding: 0;
  margin: 0;
}
menu[type="hamburger"] details ul li {
  font-size: 2rem;
  margin: 1rem;
}

/* Forms */
button,
input,
select,
textarea {
  margin: 0;
}

input,
select,
textarea {
  border: none;
  border-radius: var(--border-radius);
  color: #606c76;
  padding: 1rem 1.5rem;
  outline: none;
  background-color: #f8f8fc;
  margin: 0.5rem 0;
  font-size: 1rem;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  font-size: 1.1rem;
  appearance: none;
  color: var(--secondary-text-color);
  border: 2px solid var(--primary-background-color);
  border-radius: var(--border-radius);
  box-shadow: none;
  box-sizing: border-box;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 100%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-text-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-text-color);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  outline: 0;
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: 400;
  margin-left: 0.5rem;
}

button {
  background-color: var(--primary-background-color);
  color: var(--light-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  height: 4.4rem;
  letter-spacing: 0;
  line-height: 4.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  padding: 0 4rem;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
}

datalist {
  background: #333;
}

/* Content Items */

legend {
  min-height: 100%;
  padding-top: 20vh;
}
legend h1 {
  font-size: 3rem;
}

summary {
  background: var(--secondary-background-color);
  border-radius: var(--border-radius);
  color: var(--secondary-text-color);
  padding: 1rem 1.2rem;
  min-height: 80vh;
  box-shadow: 0px 0px 20px #d0d0d0;
}
summary input {
  background: var(--primary-background-color);
  color: var(--light-color);
  width: 100%;
}
